.characterBox {
	height: 400px;
	width: 250px;
	border: 4px solid green;
}

.characterBox--media {
	width: 100%;
	height: 80%;
	flex-direction: column;
	background: #fffdf0;
}

.characterLink {
	font-size: 36px;
}

.planetLink, .filmsList {
	padding: 20px;
	font-size: 16px;
	font-weight: bold;
}

.planetLink a {
	font-size: 14px;
}

.filmsList ul {
	margin: 0;
	padding: 0;
}

.filmsList ul li {
	padding: 0;
	font-size: 16px;
	list-style-type: none;
	font-weight: normal;
}

.voteContainer {
	height: 10%;
	justify-content:space-between;
}

.voteContainer--upVote,
.voteContainer--downVote{
	width: 50%;
	border: 1px solid grey;
	height: 100%;
	cursor: pointer;
  background: #c1c1c1;
}

.overAllVoteContainer {
	height: 10%;
	border: 1px solid grey;
	border-top: none;
  color: #fff;
  background: #1dadf5;
}

.voteCount {
	height: 24px;
	width: 24px;
	line-height: 24px;
	font-weight: bold;
	font-size: 24px;
}

.loadingState {
	padding: 20px;
	width: 200px;
	text-align: center;
	font-size: 18px;
}

.loadingState .title {
	margin: 10px 0;
}