.characterBox {
	height: 500px;
	width: 500px;
	border: 1px solid green;
}

.characterBox--media {
	width: 100%;
	height: 80%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #fffdf0;
}

.characterLink {
	font-size: 36px;
}

.planetLink {
	padding: 20px;
	font-size: 16px;
	font-weight: bold;
}

.planetLink a {
	font-size: 12px;
}

.voteContainer {
	height: 10%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content:space-between;
	-ms-align-items: center;
	align-items: center;
}

.voteContainer--upVote,
.voteContainer--downVote{
	width: 50%;
	border: 1px solid grey;
	height: 100%;
	cursor: pointer;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	background: #f5c203;
}

.overAllVoteContainer {
	height: 10%;
	border: 1px solid blue;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	color: #fff;
  	background: #1dadf5;
}

.voteCount {
	height: 24px;
	width: 24px;
	line-height: 24px;
	font-weight: bold;
	font-size: 24px;

}