
.pagination {
  /* display: inline-block; */
}

.pagination .page-item {
  color: black;
  /* float: left; */
  list-style-type: none;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  margin: 0 4px;
  font-size: 22px;
  cursor: pointer;
}

.pagination .page-item.disabled {
  cursor: default;
  color: #ada7a7;
}

.pagination-counter {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0;  
}
