.gridContainer {
	text-align: center;
}

.gridContainer--row {
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.gridContainer--col {
	flex: 1 2 0;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid red;
	background: #fff;
	border: 2px dashed #19141b;
}