.formContainer {
	text-align: center;
	padding: 20px 0;
}

.formContainer--formControl {
	position: relative;
	display: table;
	border-collapse: separate;
	width: 1200px;
	margin: 0px auto;
}

.formContainer--searchLabel {
	padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: table-cell;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 10%;
    white-space: nowrap;
    vertical-align: middle;
}

.formContainer--selectControl {
    display: table-cell;
    float: left;
    width: 40%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #ededed;
    cursor: pointer;
    background-image: none;
    border: 1px solid #ccc;
    text-align: center;
    
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
}

.formContainer--textControl {
	margin: 0;
	height: 40px;
	display: table-cell;
	position: relative;
    z-index: 2;
    float: left;
    width: 85%;
    margin-bottom: 0;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}